/* HeroIntro.css */

.hero-intro {
    width: 100vh;
    padding: 120px 20px;
    padding-bottom: 20px;
    padding-left: 10vh;
    background-color: #141414;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    position: relative;
    border: 1px solid white;
    border-left: none;
    border-top: none;
  }
  
  .hero-intro-content {
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .hero-intro-subtitle {
    font-size: 22px;
    color: #b0b0b0;
    margin-bottom: 10px;
  }
  
  .hero-intro-title {
    font-size: 60px;
    font-weight: bold;
    margin: 10px 0;
    line-height: 1.2;
  }
  
  .hero-intro-description {
    font-size: 16px;
    color: #c7c7c7;
    margin-bottom: 50px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .hero-intro-content {
      text-align: center;
    }
  
    .hero-intro-title {
      font-size: 50px;
    }
  
    .hero-intro-description {
      font-size: 18px;
    }
  }